<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-4" style="background-color:blueviolet;">AddCustomer</div>
        <div class="col-md-6">
            <form [formGroup]="addCustomerForm">
                <div class="form-group">
                    <label for="firstname">firstname</label>
                    <!-- <input type="text" class="form-control" #firstnameref 
                        formControlName="firstname"> -->
                    <!-- <input type="text" class="form-control" #firstnameref (blur)="focusFirstName(firstnameref.value)"
                        formControlName="firstname"> -->
                        <input type="text" class="form-control" #firstnameref (blur)="focusFirstName($event)"
                        formControlName="firstname">
                    <div
                        *ngIf="addCustomerForm.controls.firstname.invalid && addCustomerForm.controls.firstname.touched">
                        <p style="color:red"> Firstname required</p>
                        
                        <p *ngIf="addCustomerForm.controls.firstname.errors.pattern"> Only alphabets are allowed.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">lastname</label>
                    <input type="text" class="form-control" formControlName="lastname">
                    <div *ngIf="addCustomerForm.controls.lastname.invalid && addCustomerForm.controls.lastname.touched">
                        <p style="color:red">last name cant be null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" class="form-control" formControlName="username">
                    <div *ngIf="addCustomerForm.controls.username.invalid && addCustomerForm.controls.username.touched">
                        <p *ngIf="addCustomerForm.controls.username.errors.required">User name can't be null</p>
                        <p *ngIf="addCustomerForm.controls.username.errors.pattern">only alphabits are allowed</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="text"  [(ngModel)]="password2" (blur)="getpasswordvalue()" class="form-control" formControlName="password" #password>
                    <div *ngIf="addCustomerForm.controls.password.invalid && addCustomerForm.controls.password.touched">
                        <p>Password cant be null</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmpassword">confirmpassword</label>
                    <input type="text" class="form-control" formControlName="confirmpassword">
                    <div *ngIf="addCustomerForm.controls.confirmpassword.invalid && addCustomerForm.controls.confirmpassword.touched">
                        <p *ngIf="addCustomerForm.controls.confirmpassword.errors.required">Confirmpassword cant be null</p>
                        <p *ngIf="addCustomerForm.controls.confirmpassword.errors.passwordhaserrors">Password must match</p>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" (click)="register()"
                        [disabled]="addCustomerForm.invalid">Register</button> &nbsp;
                    <button class="btn btn-danger" (click)="cancel()">Cancel</button> &nbsp;
                </div>
            </form>
        </div>

    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
        This is a success alert—check it out!
      </div>
</div>